<%- include('partials/header') %>

<div class="jumbotron text-center">
    <div class="container">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="display-3">You successfully Logged IN </h1>
        <hr>
        <a class="btn btn-dark btn-lg" href="/upload" role="button">Upload Images</a>
        <a class="btn btn-dark btn-lg" href="/images" role="button">See Images</a>
        <a class="btn btn-light btn-lg" href="/" role="button">Log Out</a>
    </div>
    
</div>




<%- include('partials/footer') %>