<%- include('partials/header') %>

<div class="container mt-5" style="align-items: center; background-color: aquamarine;">
    <h1 >Registration successfull</h1>
    <div class="row" style="align-items: center;">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body" style="align-self: center;">
                <a class="btn btn-dark btn-lg" href="/login" role="button">Go To Login Page</a>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer') %>