
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="jumbotron text-center">
  <div class="container">
    <h1>Upload Images</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="image">
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  </div>
  </div>
</body>
</html>

